.container{
    margin-bottom: 20px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 8px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-button{
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff136f 100%);
    color: #fceae8;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: yellow;
   
}
.cat2{
    background-color: #ff136f;
}
.cat3{
    background-color: greenyellow;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightblue;
}
#subscribe{
    height: 200px;
}
#subscribe p{
    color: gray;
}
footer{
    text-align: center;
}